<table id="resolvedAnnotation">
    <thead>
        <tr><th>{{datestr}}</th><th>{{namestr}}</th><th>{{annotationstr}}</th><th>{{pagenamestr}}</th><th>{{actionstr}}</th></tr>
    </thead>
    <tbody>
    {{#annotations}}
        <tr><td>{{date}}</td><td>{{name}}</td><td>{{annotation}}</td><td class="pagename">{{pagename}}</td><td><button id="{{id}}">{{reopen}}</button></td></tr>
    {{/annotations}}
    </tbody>
</table>