<div id="tablist" class="navbar clearfix">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-tabs">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <div class="nav-collapse-tabs collapse">
    <ul>{{{firstrow}}}</ul>
    </div>
</div>
<div class="tabs-container clearfix">
    <div id="tabmoveright"><i class="fa tabsrightarrow"></i></div>
    <ul class="nav nav-tabs">{{{firstrow}}}</ul>
    <div id="tabmoveleft"><i class="fa tabsleftarrow"></i></i></div>
    {{{secondrow}}}
</div>