@CHARSET "UTF-8";
.block_moe_links_main_block {
    text-align: center;
}
.block_moe_links_main_block .block_moe_links_button{
    background-position: 5% 50%, 0 0;
    background-size: 13%, cover;
    background-repeat: no-repeat, no-repeat;
    color: #3c4845;
    font-weight: bolder;
    text-align: right;
    border: 1px solid #89b2ab;
    min-width: 80%;
    font-size: 14px;
    display: inline-table;
    width: auto;
}
.block_moe_links_Madrich{
    background-image:  url([[pix:block_links_for_moetopcoll|Madrich]]),url([[pix:block_links_for_moetopcoll|Kaftor_orada]]);
    
}
.block_moe_links_eye{
    background-image:  url([[pix:block_links_for_moetopcoll|Eye]]),url([[pix:block_links_for_moetopcoll|Kaftor_orada]]);
}

.block_moe_links_tmicha{
    background-image:  url([[pix:block_links_for_moetopcoll|Tmicha]]),url([[pix:block_links_for_moetopcoll|Kaftor_orada]]);
}

.block_moe_links_actoryanit{
    background-image:  url([[pix:block_links_for_moetopcoll|avodot]]),url([[pix:block_links_for_moetopcoll|Kaftor_orada]]);
}

.block_moe_links_main_block .block_moe_links_inlinetext {
    position: relative;
    right: 5px;
    top: 5px;
    padding-left: 33px;
}
@media screen and (max-width:1400px) and (orientation:landscape){
    .block_moe_links_button {
        font-size: 1.1em;
    }
}

@media screen and (max-width:1150px) and (orientation:landscape){
    .block_moe_links_button {
        font-size: 0.9em;
    }
}
