@CHARSET "UTF-8";
.block_rolespecifichtml_main_block {
    text-align: center;
}
.block_rolespecifichtml_button{
    background-position: 5% 50%, 0 0;
    background-size: 15%, cover;
    background-repeat: no-repeat, no-repeat;
    color: #3c4845 ;
    font-weight: bolder;
    text-align:right;
    display: inline-block;
    border: 1px solid #89b2ab;
    min-width: 80%;
    font-size: 1.3em;    
    height: 42px;
    padding-right: 10px;
    padding-top: 13px;
}
.Madrich{
    background-image:  url([[pix:block_links_for_moetopcoll|Madrich]]),url([[pix:block_links_for_moetopcoll|Kaftor_orada]]);
    
}
.eye{
    background-image:  url([[pix:block_links_for_moetopcoll|Eye]]),url([[pix:block_links_for_moetopcoll|Kaftor_orada]]);
}

.tmicha{
    background-image:  url([[pix:block_links_for_moetopcoll|Tmicha]]),url([[pix:block_links_for_moetopcoll|Kaftor_orada]]);
}

@media screen and (max-width: 1400px) and (orientation: landscape){
	.block_rolespecifichtml_button {
		font-size: 1.1em;
	}	
}

@media screen and (max-width: 1150px) and (orientation: landscape){
	.block_rolespecifichtml_button {
		font-size: 0.9em;
	}
}