.block_import_remote_course .inprogress.hide {
    display: none;
}
.block_import_remote_course .inprogress {
    display: block;
    text-align: center;
}
.block_import_remote_course .inprogress img {
    width: 64px;
}
.block_import_remote_course #restorebutton{
	background-image:  url([[pix:block_import_remote_course|downloadicon]]),url([[pix:block_import_remote_course|Kaftor_orada]]);
	background-position: 5% 50%, 0 0;
	background-size: 10%, cover;
	background-repeat: no-repeat, no-repeat;
	color: #3c4845 !important;
	font-weight: bolder;
	text-align:right;
	display: inline-block;
	border: 1px solid #89b2ab;
	min-width: 50%;
	width: 100%;
	padding-left: 40px;
}
.block_import_remote_course #importsite{
    background-image:  url([[pix:block_import_remote_course|mouseicon]]),url([[pix:block_import_remote_course|Kaftor_orada]]);
    background-position: 5% 50%, 0 0;
    background-size: 12%, cover;
    background-repeat: no-repeat, no-repeat;
    color: #3c4845 !important;
    font-weight: bolder;
    text-align:right;
    display: block;
    border: 1px solid #89b2ab;
    min-width: 50%;
	padding-left: 40px;
}

.block_import_remote_course .footer {
	    margin-top: 10px;
}

.block_import_remote_course #fitem_id_submitbutton {
	padding: unset !important;
    margin: unset !important;
    background-color: unset !important;
}

.block_import_remote_course .felement{
    margin-right: 85px;	
}


