
module my-brcupsconfpt1 1.0;

require {
	type cupsd_t;
	type ld_so_cache_t;
	class process execmem;
	class file execute;
}

#============= cupsd_t ==============
allow cupsd_t ld_so_cache_t:file execute;

#!!!! This avc is allowed in the current policy
allow cupsd_t self:process execmem;
