#page-mod-moeworksheets-attempt .region-content .hidden {
    display: none;
}
#page-mod-moeworksheets-attempt .region-content .moeworksheets-loading-hide {
    opacity: 0;
}
#page-mod-moeworksheets-accessrule-offlinemode-upload #region-main textarea {
    width: 100%;
}
#page-admin-setting-modsettingsmoeworksheetscatofflinemode #region-main textarea {
    width: 100%;
    font-family: monospace;
    font-size: 80%;
}
#moeworksheets-save-status {
    font-size: 80%;
    color: #444;
}
.moeworksheets-save-failed {
    background-color: #fcc;
    padding: 0.5em;
    color: #000;
}
#moeworksheets-relogin-dialogue .moodle-dialogue-hd {
    line-height: 20px;
}
#moeworksheets-relogin-dialogue .moodle-dialogue-bd {
    padding: 0;
}
#moeworksheets-relogin-dialogue .moodle-dialogue-ft {
    display: none;
}
#moeworksheets-relogin-dialogue .moodle-dialogue-bd iframe {
    border: 0;
    width: 100%;
    height: 350px;
}
