<section>
    <div class="block_moe_links_main_block">
        <a target="_blank" href="https://artzi.lms.education.gov.il/course/view.php?id=11208">
            <div class="block_moe_links_button block_moe_links_Madrich">
                <p class="block_moe_links_inlinetext">{{# str }} userguid, block_links_for_moetopcoll{{/ str }}</p>
            </div>
        </a>
     <hr style="height:8px; visibility:hidden;">
        <a target="_blank" href="https://artzi.lms.education.gov.il/course/index.php?categoryid=36">
            <div class="block_moe_links_button block_moe_links_eye">
                <p class="block_moe_links_inlinetext">{{# str }} viewtemp, block_links_for_moetopcoll{{/ str }}</p>
            </div>
        </a>
     <hr style="height:8px; visibility:hidden;">
        <a target="_blank" href="https://artzi.lms.education.gov.il/course/index.php?categoryid=48">
            <div class="block_moe_links_button block_moe_links_tmicha">
                <p class="block_moe_links_inlinetext">{{# str }} technicalsup, block_links_for_moetopcoll{{/ str }}</p>
            </div>
        </a>
     <hr style="height:8px; visibility:hidden;">
        <a target="_blank" href="https://tdigital.lms.education.gov.il/course/index.php?categoryid=6">
            <div class="block_moe_links_button block_moe_links_actoryanit">
                <p class="block_moe_links_inlinetext">{{# str }} actoryanit, block_links_for_moetopcoll{{/ str }}</p>
            </div>
        </a>   
    </div>
</section>