
<section>
<div class="block_rolespecifichtml_main_block">
<a href="https://artzi.lms.education.gov.il/course/view.php?id=11208" target="_blank"><div class="block_rolespecifichtml_button Madrich">מדריכים למשתמש </div></a>
<hr style="height:8px; visibility:hidden;">

<a href="https://artzi.lms.education.gov.il/course/index.php?categoryid=36" target="_blank"><div class="block_rolespecifichtml_button eye">צפייה בתבניות </div></a>
<hr style="height:8px; visibility:hidden;">

<a href="https://artzi.lms.education.gov.il/course/index.php?categoryid=48" target="_blank"><div class="block_rolespecifichtml_button tmicha">תמיכה פדגוגית וטכנית</div></a>
</div>
</section>