@CHARSET "UTF-8";

#wrapper > #page-header {
	background-image: url([[pix:theme|bg/header_bg]]);
    background-repeat: no-repeat;
    background-size: cover; 
}

.dir-rtl .navbar #search{
	margin-left: 0px;
}

.block .social_icons a.social{
	background-color: #483a51;
}

#lemidaDigit {
	padding-right: 6em;
}

.usermenu .login {
	color: #ffffff;
}

.coursebox > .info > .coursename a:before, .coursebox > .info > .name a:before {
    float: right;
	margin-right: 0em;
	margin-left: 0.5em;
}

div.coursebox .content > ul.teachers {
	padding-right: 21px
}

#frontpage-course-list  h2 {
    background-image: url([[pix:theme|bg/learning-spaces]]);
    background-repeat : no-repeat;
    background-size: 100% 100%;
    border : 1px solid #ad9dad;
    height: 1.7em;
    line-height: 1.7em;
    font-size: 3em;
    color : #086d65;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white, 4px 4px 6px #a0a0a0;
    padding-right : 0.5em;
}

#frontpage-course-list h2:after {
    content : url([[pix:theme|icons/HatFlower]]);
    position: relative;
    top : 13px;
    margin-right : 0.3em;
}

#frontpage-course-list .courses .coursebox {
    border : 1px solid #ad9dad;
}

#frontpage-course-list .paging-morelink {
    background-image: url([[pix:theme|left_arrow]]),url([[pix:theme|bg/learning-spaces-all]]);
    background-repeat : no-repeat;
    background-size: contain,cover;
	background-position: 5% 0% ,0% 0%;
	width: 20%;
	font-size: 2em;
    color: #583d5f;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white, 4px 4px 6px #a0a0a0;
}

.coursebox.clearfix.odd {
    background: #dff8f4;
}

.coursebox.clearfix.even {
    background: #fdf3dc;
}

div.course_category_tree .category > .info {
    border: 1px solid #bbc0c6;
    background-color: #d8cfe3;
}

div.course_category_tree .coursebox {
    border: 1px solid #bbc0c6;
}
div.course_category_tree .coursebox.odd {
    background-color: #ecf8c8;
}

div.course_category_tree .coursebox.even {
    background-color: #e4ead3;
}

.usermenu .moodle-actionmenu .toggle-display{
	color: #fff;
}

.prom-button {
	font-size: 2em;
	color: #583d5f;
	background-image: url([[pix:theme|bg/Batey_sefer_lens]]), url([[pix:theme|bg/Batey_sefer_BG]]);
	background-position: 5% 0% ,0% 0%;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white, 4px 4px 6px #a0a0a0;
	background-repeat: no-repeat;
	background-size: contain,cover;
	padding: 10px 20px;
}

body.format-topcoll.dir-rtl .course-content ul.ctopics #section-0 .summary {
	background-color: #d8eaf5;
	border: 1px solid #7fafcd;
}

.course-content ul.ctopics li.section:nth-child(odd) .content .toggle{
	
}

.course-content ul.ctopics li.section:nth-child(odd) .content .toggle, .course-content ul.ctopics li.section:nth-child(odd) .content.sectionhidden{
    background-color: #e9f0b5;
}

.course-content ul.ctopics li.section:nth-child(even) .content .toggle, .course-content ul.ctopics li.section:nth-child(even) .content.sectionhidden{
    background-color: #dff8f4;
}

.ctopics .section.main .content .section{
	width: 55%;
}

.dir-rtl .ctopics.moonstones .section.main .content .summary
{
    float:right;
}
.dir-rtl .ctopics.moonstonet .section.main .content .summary
{
    float: none;
}

.dir-rtl .ctopics.moonstones #section-0 h3.sectionname
{
    text-align: right;
    padding-left: auto;
    padding-right: 10px;
    font-size:19px;
}

.dir-rtl .ctopics.moonstones #section-0  .section-modchooser
{
    right: auto;
    left: 0;
}

.dir-rtl .ctopics.moonstones .section.main .content .section
{
    float:left;
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.dir-rtl .ctopics.moonstones .section.main .content .summary ol,
.dir-rtl .ctopics.moonstones .section.main .content .section ol
{
    padding-left:0;
    padding-right:20px;
}

.dir-rtl .ctopics.moonstones .section.main .left.side
{
    left:auto;
    right:4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.dir-rtl .course-content ul.ctopics.moonstones li.section .content .toggle a {
    /* TODO: Check if override will do the trick instead of the following */
    background-position: 9px 9px;
    padding-left: 0;
    padding-right: 30px;
    text-align: right;
    font-size: 15px;
}

.dir-rtl.editing .ctopics.moonstones .section.main .right.side
{
    right:auto;
    left:30px;
}

.dir-rtl.editing .ctopics.moonstones .section.main .right.side a
{
    float:left;
}

.dir-rtl.editing .ctopics.moonstones .section.main .section-modchooser
{
    right:auto;
    left:100px;
    text-align: right;
}

/*
    MOONSTONE .ctopics.moonstonet
*/
.dir-rtl .ctopics .section.main .content .summary
{
    float:right;
}
.dir-rtl .ctopics:first-of-type .section.main .content .summary
{
    float: none;
}

.dir-rtl .ctopics #section-0 h3.sectionname
{
    text-align: right;
    padding-left: auto;
    padding-right: 10px;
    font-size:19px;
}

.dir-rtl .ctopics #section-0  .section-modchooser
{
    right: auto;
    left: 0;
}

.dir-rtl .ctopics .section.main .content .section
{
    float:left;
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.dir-rtl .ctopics .section.main .content .summary ol,
.dir-rtl .ctopics .section.main .content .section ol
{
    padding-left:0;
    padding-right:20px;
}

.dir-rtl .ctopics .section.main .left.side
{
    left:auto;
    right:4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.dir-rtl .course-content ul.ctopics li.section .content .toggle a {
    /* TODO: Check if override will do the trick instead of the following */
    background-position: 9px 9px;
    padding-left: 0;
    padding-right: 30px;
    text-align: right;
    font-size: 15px;
}

.dir-rtl.editing .ctopics .section.main .right.side
{
    right:auto;
    left:30px;
}

.dir-rtl.editing .ctopics .section.main .right.side a
{
    float:left;
}

.dir-rtl.editing .ctopics .section.main .section-modchooser
{
    right:auto;
    left:100px;
    text-align: right;
}

.dir-rtl .course-content ul.ctopics li.section .content .toggle a h3,
.dir-rtl .course-content ul.ctopics li.section .content.sectionhidden {text-align: right;}

.course-content ul li.section.main {
	background-image: none;
}