@CHARSET "UTF-8";

#wrapper > #page-header {
	background-image: url([[pix:theme|bg/header_bg]]);
    background-repeat: no-repeat;
    background-size: cover; 
}
.dir-rtl .accesshide {
	left:0;
}
.dir-rtl .navbar #search{
	margin-left: 0px;
}

.block .social_icons a.social{
	background-color: #483a51;
}

#lemidaDigit{
	text-align: right;
}

#lemidaDigit span{
	padding-right:  2em;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, 4px 4px 6px #a0a0a0;
	font-size: 3em;
	text-align: right;
	line-height: 2em;
}

.usermenu .login {
	color: #ffffff;
}

.usermenu .login a{
	color: #a2eff4;
}

.coursebox > .info > .coursename a:before, .coursebox > .info > .name a:before {
    float: right;
	margin-right: 0em;
	margin-left: 0.5em;
}

div.coursebox .content > ul.teachers {
	padding-right: 21px
}

#frontpage-course-list  h2 {
    background-image: url([[pix:theme|bg/learning-spaces]]);
    background-repeat : no-repeat;
    background-size: 100% 100%;
    border : 1px solid #ad9dad;
    height: 1.7em;
    line-height: 1.7em;
    font-size: 3em;
    color : #086d65;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, 4px 4px 6px #a0a0a0;
    padding-right : 0.5em;
}

#frontpage-course-list h2:after {
    content : url([[pix:theme|icons/HatFlower]]);
    position: relative;
    top : 13px;
    margin-right : 0.3em;
}

#frontpage-course-list .courses .coursebox {
    border : 1px solid #ad9dad;
}

#frontpage-course-list .paging-morelink {
    background-image: url([[pix:theme|left_arrow]]),url([[pix:theme|bg/learning-spaces-all]]);
    background-repeat : no-repeat;
    background-size: contain,cover;
	background-position: 5% 0% ,0% 0%;
	width: 20%;
	font-size: 2em;
    color: #583d5f;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, 4px 4px 6px #a0a0a0;
}

.coursebox.clearfix.odd {
    background: #dff8f4;
}

.coursebox.clearfix.even {
    background: #fdf3dc;
}

div.course_category_tree .category > .info {
    border: 1px solid #bbc0c6;
    background-color: #d8cfe3;
}

div.course_category_tree .coursebox {
    border: 1px solid #bbc0c6;
}
div.course_category_tree .coursebox.odd {
    background-color: #ecf8c8;
}

div.course_category_tree .coursebox.even {
    background-color: #e4ead3;
}

.usermenu .moodle-actionmenu .toggle-display{
	color: #fff;
}

.prom-button {
	width: 6em;
	font-size: 2em;
	color: #583d5f;
	background-image: url([[pix:theme|icons/Yad]]), url([[pix:theme|bg/BG]]);
	background-position: 5% 47% ,100% 0%;
	background-color: #92ddd8;
	border:1px solid #99a3a2;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, 4px 4px 6px #a0a0a0;
	background-repeat: no-repeat, no-repeat;
	background-size: 28%,contain;
	padding: 10px 20px;
	margin: auto;
	box-shadow: black 0px 2px 4px;
}

body.format-topcoll.dir-rtl .course-content ul.ctopics #section-0 .summary {
	background-color: #d8eaf5;
	border: 1px solid #7fafcd;
}
.course-content ul.ctopics #toggle-1{
	background-image: url([[pix:theme|bg/Koteret_BG]]);
    color: #583d5f;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, 4px 4px 6px #a0a0a0;
}
.course-content ul.ctopics #toggle-1 .section-title{
	   font-size: 2em;
}

.course-content ul.ctopics li.section .content .toggle{
    border:1px solid #c4d2d0;
}

.course-content ul.ctopics li.section:nth-child(odd) .content .toggle, .course-content ul.ctopics li.section:nth-child(odd) .content.sectionhidden{
    background-color: #e9f0b5;
}

.course-content ul.ctopics li.section:nth-child(even) .content .toggle, .course-content ul.ctopics li.section:nth-child(even) .content.sectionhidden{
    background-color: #dff8f4;
}

.ctopics .section.main .content .section{
	width: 55%;
}

.dir-rtl .ctopics .section.main .content .summary
{
    float:right;
}
.dir-rtl .ctopics #section-0 .content .summary
{
    float: none;
}

.dir-rtl .ctopics #section-0 h3.sectionname
{
    text-align: right;
    padding-left: auto;
    padding-right: 10px;
    font-size:19px;
}

.dir-rtl .ctopics #section-0  .section-modchooser
{
    right: auto;
    left: 0;
}

.dir-rtl .ctopics .section.main .content .section
{
    float:left;
}

.dir-rtl .ctopics .section.main .content .summary ol,
.dir-rtl .ctopics .section.main .content .section ol
{
    padding-left:0;
    padding-right:20px;
}

.dir-rtl .ctopics .section.main .left.side
{
    left:auto;
    right:4px;
}

.dir-rtl .course-content ul.ctopics li.section .content .toggle a {
    /* TODO: Check if override will do the trick instead of the following */
    background-position: 9px 9px;
    padding-left: 0;
    padding-right: 30px;
    text-align: right;
    font-size: 15px;
}

.dir-rtl.editing .ctopics.section.main .right.side
{
    right:auto;
    left:30px;
}

.dir-rtl.editing .ctopics .section.main .right.side a
{
    float:left;
}

.dir-rtl.editing .ctopics.section.main .section-modchooser
{
    right:auto;
    left:100px;
    text-align: right;
}

/*
    MOONSTONE .ctopics.moonstonet
*/
.dir-rtl .ctopics .section.main .content .summary
{
    float:right;
}
.dir-rtl .course-content  .ctopics #section-0 .content .summary
{
    float: none;
}

.dir-rtl .ctopics #section-0 h3.sectionname
{
    text-align: right;
    padding-left: auto;
    padding-right: 10px;
    font-size:19px;
}

.dir-rtl .ctopics #section-0  .section-modchooser
{
    right: auto;
    left: 0;
}

.dir-rtl .ctopics .section.main .content .section
{
    float:left;
}

.dir-rtl .ctopics .section.main .content .summary ol,
.dir-rtl .ctopics .section.main .content .section ol
{
    padding-left:0;
    padding-right:20px;
}

.dir-rtl .ctopics .section.main .left.side
{
    left:auto;
    right:4px;
}

.dir-rtl .course-content ul.ctopics li.section .content .toggle a {
    /* TODO: Check if override will do the trick instead of the following */
    background-position: 9px 9px;
    padding-left: 0;
    padding-right: 30px;
    text-align: right;
    font-size: 15px;
}

.dir-rtl.editing .ctopics .section.main .right.side
{
    right:auto;
    left:30px;
}

.dir-rtl.editing .ctopics .section.main .right.side a
{
    float:left;
}

.dir-rtl.editing .ctopics .section.main .section-modchooser
{
    right:auto;
    left:100px;
    text-align: right;
}

.dir-rtl .course-content ul.ctopics li.section .content .toggle a h3,
.dir-rtl .course-content ul.ctopics li.section .content.sectionhidden {text-align: right;}
.dir-rtl .ctopics #section-0 .content .section{
	float:none;
}
.course-content ul li.section.main {
	background-image: none;
}

.dir-rtl #page-footer ul.menubar, #greyboxright ul.menubar {
    float: left;
}

.dir-rtl ul {
	margin-right: 0px;
}

.nav-tabs {
    background: none;
    border-top: none;
    border-left: none;
	border-right: none;
    border-bottom: none;
    margin-bottom: 0;
}

.format-onetopic .tab_content {
    background-color: #dddcd3;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
	border-width:1px;
	border-style: solid;
	border-color: #958d9e;
}

.nav-tabs > li.active .tab_content{
	background-color: #e1cff5;
}

.nav-tabs > li.active {
border-top: none;
}

.format-onetopic .course-content ul li.section.main{
	background-color: #f0efe4;
	border-top: 1em solid #baacc9;
}

.nav-tabs {
	background-color: rgba(0,0,0,0);
}

.nav-tabs>li {
	margin: 0 0.5em;
}

.que .formulation {
	background-color: #f1efe3;
	border-color: #c6bed3;
}

.que .info {
	background-color: #fcf4e7;
    border-color: #bfbcb5;
}

.path-mod-page div[role=main]{
   background-color: #f1efe3;
   border-color: #c5b9cf;
   border-style: solid;
   border-width: 1px;
   padding: 0 1em;
}
.path-mod-page div[role=main]>h2 {
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, 4px 4px 6px #a0a0a0;
	color: #675376;
	text-align: center;
}

#section-0 img.iconlarge {
	height: auto;
}

#section-0 a[href*='forum'] {
	color: #5c4b67;
	font-size: 1.5em;
}

.path-mod-forum #page div[role='main'] >h2 span {
	color: #444;
	font-size: 0.7em;
}
.path-mod-forum #page div[role='main'] >h2 span::before {
	content: url([[pix:theme|icons/forum]]);
	margin-left: 5px;
}

.path-mod-forum #page div[role='main'] >h3.discussionname span, .path-mod-forum #page div[role='main'] >.box.generalbox {
	background-color: #3e7781;
	padding: 0 1em;
	color: #ffffff;
	border-bottom: 0.5em solid #5cb5bf;
}

.path-mod-forum #page div[role='main'] >.box.generalbox {
 	margin-top:20px; 
	font-size: 1.4em;
	line-height: 20px;
	display: inline-block;
	overflow: none;
}

.path-mod-forum #page div[role='main'] >.box.generalbox .no-overflow {
	overflow: hidden;
}


.moeforumcontainer input[type='submit'] {
	background-color: #eadcf8;
	color: #5c4b67 !important;
	font-weight: bold;
	border: #a794b4 2px solid;
	font-size: 1.1em;
	padding: 3px 5px 3px 5px;
}

.moeforumcontainer {
	background-color: #c9e9e7;
	padding-top: 10px;
	color: #5c4b67;
	padding-bottom: 40px;
}

.moeforumcontainer tbody tr td, .moeforumcontainer tbody tr {
	background-color: #e4f6f5 !important;
}

.moeforumcontainer tbody a:link {
	color: #5c4b67 !important;
	font
}

.moeforumcontainer tbody a:visited {
	color: #5c4b67 !important;
}

.moeforumcontainer tbody a:active {
	color: #5c4b67 !important;
}

.moeforumcontainer tbody tr.discussion .topic.starter {
	font-size: 1.2em;
	vertical-align: middle !important;
	font-weight: bold;
}

.moeforumcontainer tbody tr.discussion td.picture, .moeforumcontainer tbody tr.discussion td.replies, .moeforumcontainer tbody tr.discussion td.lastpost {
	background-color: #bbf4f1 !important;
}

.moeforumcontainer thead th.header.lastpost, .moeforumcontainer tbody tr.discussion td.lastpost, .moeforumcontainer thead th.header.replies, .moeforumcontainer tbody tr.discussion td.replies {
	display: inline-block;

}

.moeforumcontainer thead th.header.lastpost, .moeforumcontainer tbody tr.discussion td.lastpost {
	margin-right: 10%;
}

.moeforumcontainer tbody tr.discussion td.replies {
	height: 100%;
	padding-right: 20px;
	padding-left: 20px;

}

@media screen and (max-width: 480px) {
	.moeforumcontainer thead th.header.lastpost, .moeforumcontainer tbody tr.discussion td.lastpost, .moeforumcontainer thead th.header.replies, .moeforumcontainer tbody tr.discussion td.replies {
		display: none;
	}

}


.path-mod-forum .discussioncontrols{
	background-color: #c2e8e6;
}

#page-mod-forum-discuss .discussioncontrols{
	padding: 0.33em 0;
	margin: 0;
}

.discussioncontrol input[type='submit'] {
	border:1px solid #a794b2;
	background-color: #ebdcf7;
	color: #5e4d66 !important;
}

#page-mod-forum-discuss.dir-rtl .discussioncontrols .discussioncontrol {
	float: right;
}

.forumpost {
	background-color: #e0f6f5;
	border: none;
	border-bottom: 49px solid #c2e8e6;
}

.forumpost .row {
	background-color: rgba(0,0,0,0);
}

.format-grid .course-content ul li.section.main{
	padding-top: 0px !important;
}

.gtopics-0 .summary ,.format-grid .course-content ul.gtopics-0 #section-0{
	background-color: #f0efe4;
}

.format-grid .course-content ul.gtopics-0 #section-0 {
    border-left: 1px solid #c8bcd2;
    border-right: 1px solid #c8bcd2;	
}
.format-grid .course-content ul.gtopics-0 {
	margin-bottom: 0px;
}
.format-grid #section-0 .content > h3.sectionname {
	margin-bottom: 0px;
}
.format-grid .course-content ul.gridicons li .image_holder {
	border-color: #90bfbc;
}
.format-grid #gridiconcontainer {
	background-color: #fcf3e6;
	border: 1px solid #c6bdb7;
}

#gridshadebox_content {
	border-color: #6d4979;
	border-width: 3px;
	background-color: #fcf3e6;
}
.path-mod-assign #region-main div[role="main"] > h2 > span {
	background-image: url([[pix:theme|bg/headerBG]]);
	padding: 0.2em;
	background-repeat: no-repeat;
	border: 1px solid #af9dbb;
	border-bottom: 0px;
	background-size: cover;
	color: #000000;
	font-size: 0.8em;
}

.path-mod-assign #region-main div[role="main"] > h2 {
	margin-bottom: -1px;
}

.path-mod-assign #region-main div[role="main"] #intro, .path-mod-assign #region-main div[role="main"] .urlselect > form > div {
	background-color: #f0eee4;
	border: 1px solid #af9dbb;
	margin-top: 0;
	margin-bottom: 0;
	padding: 10px;
}

.path-mod-assign #region-main div[role="main"] .urlselect > form > div {
	border-bottom: 0px;
}

.path-mod-assign #region-main div[role="main"] .gradingsummary, .path-mod-assign #region-main div[role="main"] .submissionstatustable, .path-mod-assign #region-main div[role="main"]  .gradingtable {
	background-color: #f0eee4;
	margin-top: 0;
	margin-bottom: 0;
	border-left:  1px solid #af9dbb;
	border-right:  1px solid #af9dbb;
	padding: 10px;
}

.path-mod-assign #region-main div[role="main"]  .gradingtable {
	padding-left: 0px;
	padding-right: 0px;
}

.path-mod-assign #region-main div[role="main"] .boxaligncenter.gradingbatchoperationsform, .path-mod-assign #region-main div[role="main"] .boxaligncenter.gradingoptionsform {
	background-color: #f0eee4;
	margin: 0px;
	border-left:  1px solid #af9dbb;
	border-right:  1px solid #af9dbb;
	padding: 10px;
}

.path-mod-assign .gradingtable tr.unselectedrow td {
	background-color: #f0eee4;
}

.path-mod-assign #region-main div[role="main"] .submissionstatustable, .path-mod-assign #region-main div[role="main"] .boxaligncenter.gradingoptionsform {
	border-bottom:  1px solid #af9dbb;
}

.path-mod-assign #region-main div[role="main"] .generaltable tbody>tr:nth-child(odd)>td {
	background-color: #e8e6de;
}

.path-mod-assign td.submissionnotgraded {
	background-color: #d4d4ce;
}

.path-mod-assign #region-main div[role="main"] input[type="submit"] {
	background-color: #00716e;
}

.path-mod-assign #region-main div[role="main"] a:link {
	color: #083480;
}

.path-mod-assign #region-main div[role="main"] a:visited {
	color: #083480;
}

.path-mod-assign #region-main div[role="main"] .gradingsummary > h3, .path-mod-assign #region-main div[role="main"] .submissionstatustable > h3 {
	margin-top: 0;
}

@media screen and (max-width:26em) {
	#frontpage-course-list h2{
	   font-size:2em;
	}
	#frontpage-course-list h2:after{
	   content: none;
	}
	#frontpage-course-list .paging-morelink{
	   width: 97%;
	}
}

@media (min-width: 980px) {
	#page-mod-forum-discuss a[id]:empty::before, #page-mod-forum-discuss a[name]:empty::before {
	   content: none;
	}
}

@media (min-width:980px) and (max-width: 1368px) {
	#wrapper > #page-header {
	   background-size: contain;
    }
}