@CHARSET "UTF-8";

.format-socialwall .tl-showall {
	text-align: center;
	padding-bottom: 5px;
	border-top: 0px solid #efefef;
	border-bottom: 0px solid #efefef;
}

.format-socialwall .tl-leftcol {
	width: 1em;
	margin-right: 0px;
	margin-top: 0px !important;
}

.format-socialwall .tl-leftcol, .tl-author {
	float: right;
	width: 40px;
	margin-right: 3% !important;
	margin-left: 0px;
}

.format-socialwall .tl-leftcol .tl-author {
	float: right;
	width: 40px;
	margin-right: 3% !important;
	margin-left: 0px;
}

/*children icons*/
.tl-comment .tl-author {
	float: right;
	margin-top: 15px;
	margin-right: 10% !important;
	padding-left: 0px;
	margin-left: 0px;
}
/*father icon*/
.tl-post .tl-leftcol .tl-author /* :first-of-type  .tl-author*/ {
	float: right;
	padding-right: 0px;
	margin-right: 3% !important;
	margin-top: 150% !important;
	padding-top: 0px !important;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 0px;
}

.format-socialwall .tl-locked, .tl-postcomment, .tl-sticky,
	.tl-edited-wrapper {
	float: right;
	margin-left: 5px;
	margin-top: 0px;
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}

.format-socialwall .tl-edited-wrapper {
	background: #ff974a;
	color: white;
	font-size: 10px;
	line-height: 10px;
	padding: 3px;
	border-radius: 3px;
}

.format-socialwall .tl-timeago, .tl-counts {
	font-size: 10px;
	color: #666666;
	line-height: 10px;
}

.tl-comment-replywrapper {
	width: 100%;
	margin: 0 auto;
}

.tl-sticky ~ div {
	padding-top: 0.5em;
}

.tl-action-icons {
	margin-right: 0.3em;
}

.tl-action-icons ~ .tl-posttext {
	margin-right: 1.875em !important;
}

.format-socialwall .tl-post {
	margin: 0px !important;
	border: 0px solid #efefef;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
	padding: 0px;
	border: 0px solid #efefef !important;
}

.tl-locked {
	margin-right: 0px;
	padding-right: 0px;
}

.tl-smallicon {
	margin-right: 0px !important;
	padding-right: 0px !important;
}

.format-socialwall .tl-text {
	border-left: 0px solid #efefef;
	border: 0px solid #efefef;
	margin: 0px;
	padding: 0px;
}

.format-socialwall :first-child .tl-authorname {
	border-left: 0px solid #efefef;
}

/*admin add activity*/
.format-socialwall #postform #sw-addactivitylink {
	float: right;
	margin-right: 90px;
	border: none;
	box-shadow: none;
	text-decoration: underline;
	color: #3e3e3e !important;
}

#sw-addactivitylink {
	float: right;
	margin-right: 90px;
	border: none;
	box-shadow: none;
	text-decoration: underline;
	color: #3e3e3e !important;
}

#counttotalpost {
	margin-right: 1em;
}

.pf-notificationsetting {
	margin-right: 1em;
}

#menutl_filtermodules {
	margin-right: 1em;
}

#page-course-view-socialwall .course-content {
	background-color: #e0f4ee;
}

.format-socialwall #postform #fgroup_id_group_2 {
	margin-left: 18.5%;
	float: left;
}

/*submit button*/
.format-socialwall #postform #id_submitbutton, .format-socialwall #postform #id_cancel
	{
	margin-left: 25%;
	float: left;
}

/*post form*/
.dir-rtl .mform .fitem .felement {
	margin-right: 0px;
	margin-left: auto;
	text-align: right;
	padding-top: 1px;
}

.format-socialwall #postform #fgroup_id_group_1 {
	margin-top: 3%;
	float: left;
	width: 100px;
	text-align: right;
	margin-left: 5%;
}

#id_togroupid {
	display: inline;
}

#id_poststatus {
	display: inline;
}

#turneditoron {
	margin-left: 0px;
	display: inline;
}

.format-socialwall #postform #fitem_posttext {
	margin-top: 0px;
	margin-right: 1em;
	width: 80%;
}

.format-socialwall #postform .sw-texarea, #posttext {
	width: 100%;
	margin-right: 0px;
	padding-right: 0px;
	position: relative;
	right: 0;
	float: right;
}

.format-socialwall #postform .fitem div.fitemtitle {
	padding-top: 5px;
	text-align: left;
}

.format-socialwall .tl-commentform .mform .fitem .felement.ftextarea {
	margin-right: 0px;
}

/*post colors*/
.tl-posts .tl-post:nth-child(even) {
	background-color: #e0f4ee;
	padding: 0px !important;
	margin: 0px !important;
}

.tl-posts .tl-post:nth-child(odd) {
	background-color: #c3e7dd;
	padding: 01px !important;
	margin: 0px !important;
}

/*father comment*/
.tl-posttext .text_to_html {
	margin-top: 2%;
	border-radius: 10px;
	border: solid 2px #cbc9d4;
	box-shadow: -5px 0px 5px 0 rgba(178, 178, 178, .4);
	position: relative;
	display: inline-block;
	min-height: 50px;
	padding: 6px 12px 6px 12px;
	margin-bottom: 10px;
	background-color: #f2ebf8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-right: 1.875em !important;
	-moz-margin-right: 1.875em !important;
}

.tl-posttext .text_to_html:after, .tl-posttext .text_to_html:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tl-posttext .text_to_html:after, .tl-posttext .text_to_html:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tl-posttext .text_to_html:after {
	border-color: rgba(242, 235, 248, 0);
	border-left-color: #f2ebf8;
	border-width: 15px;
	margin-top: -15px;
}

.tl-posttext .text_to_html:before {
	border-color: rgba(203, 201, 212, 0);
	border-left-color: #cbc9d4;
	border-width: 19px;
	margin-top: -19px;
}

.tl-post-actionarea {
	border: solid 1px #b0b2b0;
	display: inline-block;
	margin: 10px;
	background: #f2ebf8;
}

.tl-post-actionarea .tl-counts {
	font-size: 12px;
	padding: 5px;
	margin: 5px;
}

.tl-actionlink {
	font-size: 14px;
	padding: 5px;
}

/* Comments */
.tl-posts  .tl-comment:nth-child(even) .tl-text {
	position: relative;
	display: inline-block;
	box-shadow: -2px 0px 2px 0 rgba(178, 178, 178, .4);
	display: inline-block;
	min-height: 30px;
	padding: 6px 12px 6px 12px;
	margin-bottom: 10px;
	background-color: #d2f3ea;
	border-radius: 10px;
	border: solid 2px #9bc6bb;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-right: 1.875em;
	-moz-margin-right: 1.875em;
}

.tl-posts  .tl-comment:nth-child(even) .tl-text:after, .tl-posts  .tl-comment:nth-child(even) .tl-text:before
	{
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tl-posts  .tl-comment:nth-child(even) .tl-text:after {
	border-color: rgba(210, 243, 234, 0);
	border-left-color: #d2f3ea;
	border-width: 15px;
	margin-top: -15px;
}

.tl-posts  .tl-comment:nth-child(even) .tl-text:before {
	border-color: rgba(155, 198, 187, 0);
	border-left-color: #9bc6bb;
	border-width: 19px;
	margin-top: -19px;
}

.tl-posts .tl-comment:nth-child(odd) .tl-text {
	position: relative;
	display: inline-block;
	box-shadow: -2px 0px 2px 0 rgba(178, 178, 178, .4);
	display: inline-block;
	min-height: 30px;
	padding: 6px 12px 6px 12px;
	margin-bottom: 10px;
	background-color: #b8ebe0;
	border-radius: 10px;
	border: solid 2px #9bc6bb;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-right: 1.875em;
}

.tl-posts  .tl-comment:nth-child(odd) .tl-text:after, .tl-posts  .tl-comment:nth-child(odd) .tl-text:before
	{
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tl-posts  .tl-comment:nth-child(odd) .tl-text:after {
	border-color: rgba(184, 235, 224, 0);
	border-left-color: #b8ebe0;
	border-width: 15px;
	margin-top: -15px;
}

.tl-posts  .tl-comment:nth-child(odd) .tl-text:before {
	border-color: rgba(155, 198, 187, 0);
	border-left-color: #9bc6bb;
	border-width: 19px;
	margin-top: -19px;
}

/*show all comments button*/
.format-socialwall .tl-showall {
	text-align: center;
	padding-bottom: 5px;
	border-top: 0px solid #efefef;
	border-bottom: 0px solid #efefef;
}

/*comments inside comment*/
.tl-comment   .tl-comments .tl-comment:nth-child(even) .tl-text {
	position: relative;
	display: inline-block;
	box-shadow: -2px 0px 2px 0 rgba(178, 178, 178, .4);
	display: inline-block;
	min-height: 30px;
	padding: 6px 12px 6px 12px;
	margin-bottom: 10px;
	background-color: #d2f3ea;
	border-radius: 10px;
	border: solid 2px #9bc6bb;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-right: 1.875em;
	-moz-margin-right: 1.875em;
}

.tl-comment   .tl-comments .tl-comment:nth-child(even) .tl-text:after,
	.tl-comment   .tl-comments .tl-comment:nth-child(even) .tl-text:before
	{
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tl-comment   .tl-comments .tl-comment:nth-child(even) .tl-text:after {
	border-color: rgba(210, 243, 234, 0);
	border-left-color: #d2f3ea;
	border-width: 15px;
	margin-top: -15px;
}

.tl-comment   .tl-comments .tl-comment:nth-child(even) .tl-text:before {
	border-color: rgba(155, 198, 187, 0);
	border-left-color: #9bc6bb;
	border-width: 19px;
	margin-top: -19px;
}

.tl-comment   .tl-comments  .tl-comment:nth-child(odd) .tl-text {
	position: relative;
	display: inline-block;
	box-shadow: -2px 0px 2px 0 rgba(178, 178, 178, .4);
	display: inline-block;
	min-height: 30px;
	padding: 6px 12px 6px 12px;
	margin-bottom: 10px;
	background-color: #b8ebe0;
	border-radius: 10px;
	border: solid 2px #9bc6bb;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-right: 1.875em;
}

.tl-comment   .tl-comments  .tl-comment:nth-child(odd) .tl-text:after,
	.tl-comment   .tl-comments  .tl-comment:nth-child(odd) .tl-text:before
	{
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tl-comment   .tl-comments  .tl-comment:nth-child(odd) .tl-text:after {
	border-color: rgba(184, 235, 224, 0);
	border-left-color: #b8ebe0;
	border-width: 15px;
	margin-top: -15px;
}

.tl-comment   .tl-comments  .tl-comment:nth-child(odd) .tl-text:before {
	border-color: rgba(155, 198, 187, 0);
	border-left-color: #9bc6bb;
	border-width: 19px;
	margin-top: -19px;
}

.format-socialwall .tl-leftcol, .tl-author {
	float: right;
	width: 40px;
	margin-top: 15px;
	margin-right: 40px;
}

.format-socialwall .tl-comment-replywrapper .tl-actionlink {
	text-align: right;
	border-top: 0px solid #cccccc;
}

#wrapper>#page-header {
	background-image: url([[pix:theme|bg/header_bg]]);
	background-repeat: no-repeat;
	background-size: cover;
}

.dir-rtl .accesshide {
	left: 0;
}

.dir-rtl .navbar #search {
	margin-left: 0px;
}

.block .social_icons a.social {
	background-color: #483a51;
}

#lemidaDigit {
	text-align: right;
}

#lemidaDigit span {
	padding-right: 2em;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, 4px
		4px 6px #a0a0a0;
	font-size: 3em;
	text-align: right;
	line-height: 2em;
}
.usermenu .moodle-actionmenu .toggle-display:hover{
    color: #a2eff4;
}
.usermenu .login,.usermenu .login a:hover, .usermenu .login a:focus {
	color: #ffffff;
}

.usermenu .login a {
	color: #a2eff4;
}

.coursebox>.info>.coursename a:before, .coursebox>.info>.name a:before {
	float: right;
	margin-right: 0em;
	margin-left: 0.5em;
}

div.coursebox .content>ul.teachers {
	padding-right: 21px
}

#frontpage-course-list  h2 {
	background-image: url([[pix:theme|bg/learning-spaces]]);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: 1px solid #ad9dad;
	height: 1.7em;
	line-height: 1.7em;
	font-size: 3em;
	color: #086d65;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, 4px
		4px 6px #a0a0a0;
	padding-right: 0.5em;
}

#frontpage-course-list h2:after {
	content: url([[pix:theme|icons/HatFlower]]);
	position: relative;
	top: 13px;
	margin-right: 0.3em;
}

#frontpage-course-list .courses .coursebox {
	border: 1px solid #ad9dad;
}

#frontpage-course-list .paging-morelink {
	background-image: url([[pix:theme|left_arrow]]),
		url([[pix:theme|bg/learning-spaces-all]]);
	background-repeat: no-repeat;
	background-size: contain, cover;
	background-position: 5% 0%, 0% 0%;
	width: 20%;
	font-size: 2em;
	color: #583d5f;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, 4px
		4px 6px #a0a0a0;
}

.coursebox.clearfix.odd {
	background: #dff8f4;
}

.coursebox.clearfix.even {
	background: #fdf3dc;
}

div.course_category_tree .category>.info {
	border: 1px solid #bbc0c6;
	background-color: #d8cfe3;
}

div.course_category_tree .coursebox {
	border: 1px solid #bbc0c6;
}

div.course_category_tree .coursebox.odd {
	background-color: #ecf8c8;
}

div.course_category_tree .coursebox.even {
	background-color: #e4ead3;
}

.usermenu .moodle-actionmenu .toggle-display {
	color: #fff;
}

.prom-button {
	width: 6em;
	font-size: 2em;
	color: #583d5f;
	background-image: url([[pix:theme|icons/Yad]]), url([[pix:theme|bg/BG]]);
	background-position: 5% 47%, 100% 0%;
	background-color: #92ddd8;
	border: 1px solid #99a3a2;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, 4px
		4px 6px #a0a0a0;
	background-repeat: no-repeat, no-repeat;
	background-size: 28%, contain;
	padding: 10px 20px;
	margin: auto;
	box-shadow: black 0px 2px 4px;
}

body.format-topcoll.dir-rtl .course-content ul.ctopics #section-0 .summary
	{
	background-color: #d8eaf5;
	border: 1px solid #7fafcd;
}

.course-content ul.ctopics #toggle-1 {
	background-image: url([[pix:theme|bg/Koteret_BG]]);
	color: #583d5f;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, 4px
		4px 6px #a0a0a0;
}

.course-content ul.ctopics #toggle-1 .section-title {
	font-size: 2em;
}

.course-content ul.ctopics li.section .content .toggle {
	border: 1px solid #c4d2d0;
}

.course-content ul.ctopics li.section:nth-child(odd) .content .toggle,
	.course-content ul.ctopics li.section:nth-child(odd) .content.sectionhidden
	{
	background-color: #e9f0b5;
}

.course-content ul.ctopics li.section:nth-child(even) .content .toggle,
	.course-content ul.ctopics li.section:nth-child(even) .content.sectionhidden
	{
	background-color: #dff8f4;
}

.ctopics .section.main .content .section {
	width: 55%;
}

.dir-rtl .ctopics .section.main .content .summary {
	float: right;
}

.dir-rtl .ctopics #section-0 .content .summary {
	float: none;
}

.dir-rtl .ctopics #section-0 h3.sectionname {
	text-align: right;
	padding-left: auto;
	padding-right: 10px;
	font-size: 19px;
}

.dir-rtl .ctopics #section-0  .section-modchooser {
	right: auto;
	left: 0;
}

.dir-rtl .ctopics .section.main .content .section {
	float: left;
}

.dir-rtl .ctopics .section.main .content .summary ol, .dir-rtl .ctopics .section.main .content .section ol
	{
	padding-left: 0;
	padding-right: 20px;
}

.dir-rtl .ctopics .section.main .left.side {
	left: auto;
	right: 4px;
}

.dir-rtl .course-content ul.ctopics li.section .content .toggle a {
	/* TODO: Check if override will do the trick instead of the following */
	background-position: 9px 9px;
	padding-left: 0;
	padding-right: 30px;
	text-align: right;
	font-size: 15px;
}

.dir-rtl.editing .ctopics.section.main .right.side {
	right: auto;
	left: 30px;
}

.dir-rtl.editing .ctopics .section.main .right.side a {
	float: left;
}

.dir-rtl.editing .ctopics.section.main .section-modchooser {
	right: auto;
	left: 100px;
	text-align: right;
}

/*
    MOONSTONE .ctopics.moonstonet
*/
.dir-rtl .ctopics .section.main .content .summary {
	float: right;
}

.dir-rtl .course-content  .ctopics #section-0 .content .summary {
	float: none;
}

.dir-rtl .ctopics #section-0 h3.sectionname {
	text-align: right;
	padding-left: auto;
	padding-right: 10px;
	font-size: 19px;
}

.dir-rtl .ctopics #section-0  .section-modchooser {
	right: auto;
	left: 0;
}

.dir-rtl .ctopics .section.main .content .section {
	float: left;
}

.dir-rtl .ctopics .section.main .content .summary ol, .dir-rtl .ctopics .section.main .content .section ol
	{
	padding-left: 0;
	padding-right: 20px;
}

.dir-rtl .ctopics .section.main .left.side {
	left: auto;
	right: 4px;
}

.dir-rtl .course-content ul.ctopics li.section .content .toggle a {
	/* TODO: Check if override will do the trick instead of the following */
	background-position: 9px 9px;
	padding-left: 0;
	padding-right: 30px;
	text-align: right;
	font-size: 15px;
}

.dir-rtl.editing .ctopics .section.main .right.side {
	right: auto;
	left: 30px;
}

.dir-rtl.editing .ctopics .section.main .right.side a {
	float: left;
}

.dir-rtl.editing .ctopics .section.main .section-modchooser {
	right: auto;
	left: 100px;
	text-align: right;
}

.dir-rtl .course-content ul.ctopics li.section .content .toggle a h3,
	.dir-rtl .course-content ul.ctopics li.section .content.sectionhidden {
	text-align: right;
}

.dir-rtl .ctopics #section-0 .content .section {
	float: none;
}

.course-content ul li.section.main {
	background-image: none;
}

.dir-rtl #page-footer ul.menubar, #greyboxright ul.menubar {
	float: left;
}

.dir-rtl ul {
	margin-right: 0px;
}

.nav-tabs {
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
	margin-bottom: 0;
}

.format-onetopic .tab_content {
	background-color: #dddcd3;
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	border-width: 1px;
	border-style: solid;
	border-color: #958d9e;
}

.nav-tabs>li.active .tab_content {
	background-color: #e1cff5;
}

.nav-tabs>li.active {
	border-top: none;
}

.format-onetopic .course-content ul li.section.main {
	background-color: #f0efe4;
	border-top: 1em solid #baacc9;
}

.nav-tabs {
	background-color: rgba(0, 0, 0, 0);
}

.nav-tabs>li {
	margin: 0 0.5em;
}

.que .formulation {
	background-color: #f1efe3;
	border-color: #c6bed3;
}

.que .info {
	background-color: #fcf4e7;
	border-color: #bfbcb5;
}

.path-mod-page div[role=main] {
	background-color: #f1efe3;
	border-color: #c5b9cf;
	border-style: solid;
	border-width: 1px;
	padding: 0 1em;
}

.path-mod-page div[role=main]>h2 {
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, 4px
		4px 6px #a0a0a0;
	color: #675376;
	text-align: center;
}

#section-0 img.iconlarge {
	height: auto;
}

#section-0 a[href*='forum'] {
	color: #5c4b67;
	font-size: 1.5em;
}

.path-mod-forum #page div[role='main']>h2 span {
	color: #444;
	font-size: 0.7em;
}

.path-mod-forum #page div[role='main']>h2 span::before {
	content: url([[pix:theme|icons/forum]]);
	margin-left: 5px;
}

.path-mod-forum #page div[role='main']>h3.discussionname span,
	.path-mod-forum #page div[role='main']>.box.generalbox {
	background-color: #3e7781;
	padding: 0 1em;
	color: #ffffff;
	border-bottom: 0.5em solid #5cb5bf;
}

.path-mod-forum #page div[role='main']>.box.generalbox {
	margin-top: 20px;
	font-size: 1.4em;
	line-height: 20px;
	display: inline-block;
	overflow: none;
}

.path-mod-forum #page div[role='main']>.box.generalbox .no-overflow {
	overflow: hidden;
}

.moeforumcontainer input[type='submit'] {
	background-color: #eadcf8;
	color: #5c4b67 !important;
	font-weight: bold;
	border: #a794b4 2px solid;
	font-size: 1.1em;
	padding: 3px 5px 3px 5px;
}

.moeforumcontainer {
	background-color: #c9e9e7;
	padding-top: 10px;
	color: #5c4b67;
	padding-bottom: 40px;
}

.moeforumcontainer tbody tr td, .moeforumcontainer tbody tr {
	background-color: #e4f6f5 !important;
}

.moeforumcontainer tbody a:link {
	color: #5c4b67 !important;
	font
}

.moeforumcontainer tbody a:visited {
	color: #5c4b67 !important;
}

.moeforumcontainer tbody a:active {
	color: #5c4b67 !important;
}

.moeforumcontainer tbody tr.discussion .topic.starter {
	font-size: 1.2em;
	vertical-align: middle !important;
	font-weight: bold;
}

.moeforumcontainer tbody tr.discussion td.picture, .moeforumcontainer tbody tr.discussion td.replies,
	.moeforumcontainer tbody tr.discussion td.lastpost {
	background-color: #bbf4f1 !important;
}

.moeforumcontainer thead th.header.lastpost, .moeforumcontainer tbody tr.discussion td.lastpost,
	.moeforumcontainer thead th.header.replies, .moeforumcontainer tbody tr.discussion td.replies
	{
	display: inline-block;
}

.moeforumcontainer thead th.header.lastpost, .moeforumcontainer tbody tr.discussion td.lastpost
	{
	margin-right: 10%;
}

.moeforumcontainer tbody tr.discussion td.replies {
	height: 100%;
	padding-right: 20px;
	padding-left: 20px;
}

@media screen and (max-width: 480px) {
	.moeforumcontainer thead th.header.lastpost, .moeforumcontainer tbody tr.discussion td.lastpost,
		.moeforumcontainer thead th.header.replies, .moeforumcontainer tbody tr.discussion td.replies
		{
		display: none;
	}
}

.path-mod-forum .discussioncontrols {
	background-color: #c2e8e6;
}

#page-mod-forum-discuss .discussioncontrols {
	padding: 0.33em 0;
	margin: 0;
}

.discussioncontrol input[type='submit'] {
	border: 1px solid #a794b2;
	background-color: #ebdcf7;
	color: #5e4d66 !important;
}

#page-mod-forum-discuss.dir-rtl .discussioncontrols .discussioncontrol {
	float: right;
}

.forumpost {
	background-color: #e0f6f5;
	border: none;
	border-bottom: 49px solid #c2e8e6;
}

.forumpost .row {
	background-color: rgba(0, 0, 0, 0);
}

.format-grid .course-content ul li.section.main {
	padding-top: 0px !important;
}

.gtopics-0 .summary, .format-grid .course-content ul.gtopics-0 #section-0
	{
	background-color: #f0efe4;
}

.format-grid .course-content ul.gtopics-0 #section-0 {
	border-left: 1px solid #c8bcd2;
	border-right: 1px solid #c8bcd2;
}

.format-grid .course-content ul.gtopics-0 {
	margin-bottom: 0px;
}

.format-grid #section-0 .content>h3.sectionname {
	margin-bottom: 0px;
}

.format-grid .course-content ul.gridicons li .image_holder {
	border-color: #90bfbc;
}

.format-grid #gridiconcontainer {
	background-color: #fcf3e6;
	border: 1px solid #c6bdb7;
}

#gridshadebox_content {
	border-color: #6d4979;
	border-width: 3px;
	background-color: #fcf3e6;
}
.format-topics #section-0 {
	margin-top: 5px;
}

.format-topics .content h3.sectionname {
    border: none;	
}

.format-topics .course-content ul.topics{
	border: 1px solid #c8bdd4;
	background-image: url([[pix:theme_moe|bg/Bg_divider]]);
	background-repeat: repeat-y;
	background-size: contain;
}

.format-topics .course-content ul.topics li {
	background-color: #ffffff;
}

.format-topics  .course-content ul li.section.main {
	padding: 0px 0 !important; */
}

.format-topics .course-content ul.topics li.section .content{
	margin-left: 0px;
	margin-right: 0px;
}
.format-topics .course-content ul.topics li.section .summary {
	margin-right: 1em;
}

#page-course-view-socialwall .course-content::before {
	content: " ";
	background-image: url([[pix:theme|bg/learning-spaces]]);
	background-repeat: no-repeat;
	background-size: 100%;
	height:10px;
	display: block;
	border-top: #beb1cc 1px solid;
	border-left: #beb1cc 1px solid;
	border-right: #beb1cc 1px solid;
	border-bottom: #c1bdbf 1px solid;
}

.format-socialwall div[role=main] .course-content ul.topics li.section .content .summary {
	margin-left: 8px;
	margin-right: 8px;
}

.format-socialwall div[role=main] .course-content ul.topics li.section .content {
	margin-left: 0px;
	margin-right: 0px;
}

.format-socialwall div[role=main] .course-content ul.topics {
	border-right: #bad4cd 1px solid;
	border-left:  #bad4cd 1px solid;
}

.format-socialwall div[role=main] .course-content ul.topics ul.tl-posts, .format-socialwall div[role=main] .course-content ul.topics ul.tl-posts li.tl-post{
	border-top: #bad4cd 1px solid !important;
	border-bottom:  #bad4cd 1px solid !important;
}

.format-socialwall .tl-post-actionarea {
	border: 2px solid #cccccc;
}

.format-socialwall h3.sectionname {
	padding-left: 8px;
	padding-right: 8px;
}

@media screen and (max-width:26em) {
	#frontpage-course-list h2 {
		font-size: 2em;
	}
	#frontpage-course-list h2:after {
		content: none;
	}
	#frontpage-course-list .paging-morelink {
		width: 97%;
	}
}

@media ( min-width : 980px) {
	#page-mod-forum-discuss a[id]:empty::before, #page-mod-forum-discuss a[name]:empty::before
		{
		content: none;
	}
}

@media ( min-width :980px) and (max-width: 1368px) {
	#wrapper>#page-header {
		background-size: contain;
	}
}
.ouw_subwiki .individualselector label, .ouw_subwiki span {
	background-image: url(/theme/image.php?theme=moe&component=theme&image=bg%2FheaderBG);
    padding: 0.3em;
    background-repeat: no-repeat;
    border: 1px solid #af9dbb;
    background-size: cover;
    color: #5c4b67;
	font-size: 2em;
}

.ouw_subwiki a {
	font-size: 2em;
}
.path-mod-ouwiki ul {
    list-style-position: inside;
}
.ouw_subwiki .individualselector select {
	color: #7a5b9a;
	background-color: #f0eee4;
	border-color: #878080;
}
.path-mod-ouwiki  .nav-tabs > li {
	margin: 1em 0.2em 0 0.2em;
	color: #565b5a;
	border-bottom: 4px solid #c99fee;
}

.path-mod-ouwiki  .nav-tabs > li.active{
	background-color: #7c5e97;
	border-bottom: 4px solid #462965;
}

.path-mod-ouwiki .nav-tabs > .active > a, .nav-tabs > .active > a:hover,
.path-mod-ouwiki .nav-tabs > .active > a:focus {
	background-color: rgba(0,0,0,0);
	color: #ffffff;
}
.path-mod-ouwiki .ouw_belowmainhead {
	background-color: #d4f6e9;
	border: 1px solid #af9fbc;
}

.ouw_byheading a {
	border: 1px solid #cdccc6;
	padding: 0.3em;
	color: #86798d;
	background-color: #faf7fc;
}

#ouwiki_indexlinks a{
	border: 2px solid #b4b68e;
	background-color: #ebecd8;
	color: rgba(94, 77, 102, 0.73);
	padding: 0.7em;
	font-weight: 600;
}
#ouwiki_belowtabs {
	background-color: #efe2f9;
}

.ouw_topheading {
	margin-top: 0em;
	border-top: none;
	background-color: rgba(0,0,0,0);
}

.ouw_topheading h2 {
 	display: none; 
}

.path-mod-ouwiki .nav-tabs > li > a {
	background-color: #dddbd2;
	border-radius: 0px;
}


#page-mod-ouwiki-view .ouw_recentchanges {
	color: #000000;
}

#page-mod-ouwiki-view .ouw_recentchanges span {
	color: #000000 !important;
}

#page-mod-ouwiki-view .ouw_recentchanges a:link {
	color: #000000;
}

#page-mod-ouwiki-view .ouw_recentchanges a:visited {
	color: #000000;
}

#ouwiki_addnew input[type='submit'], #ouwiki_belowtabs input[type='submit'] {
	color: #5e4d66 !important;
	background-color: #f0eee4;
}

.ouwiki-annotation-tag {
	padding: 0 !important;
}

.ouw_subwiki .individualselector label, .ouw_subwiki span {
	background-image: url(/theme/image.php?theme=moe&component=theme&image=bg%2FheaderBG);
    padding: 0.3em;
    background-repeat: no-repeat;
    border: 1px solid #af9dbb;
    background-size: cover;
    color: #5c4b67;
	font-size: 2em;
}

.ouw_subwiki a {
	font-size: 2em;
}
.path-mod-ouwiki ul {
    list-style-position: inside;
}
.ouw_subwiki .individualselector select {
	color: #7a5b9a;
	background-color: #f0eee4;
	border-color: #878080;
}
.path-mod-ouwiki  .nav-tabs > li {
	margin: 1em 0.2em 0 0.2em;
	color: #565b5a;
	border-bottom: 4px solid #c99fee;
}

.path-mod-ouwiki  .nav-tabs > li.active{
	background-color: #7c5e97;
	border-bottom: 4px solid #462965;
}

.path-mod-ouwiki .nav-tabs > .active > a, .nav-tabs > .active > a:hover,
.path-mod-ouwiki .nav-tabs > .active > a:focus {
	background-color: rgba(0,0,0,0);
	color: #ffffff;
}
.path-mod-ouwiki .ouw_belowmainhead {
	background-color: #bfead6;
	border: 1px solid #af9fbc;
}

.ouw_heading.ouw_heading3 {
	background-color: #a2e0c7;
}

.ouw_byheading a {
	border: 1px solid #cdccc6;
	padding: 0.3em;
	color: #86798d;
	background-color: #faf7fc;
}

#ouwiki_belowtabs {
	background-color: #efe2f9;
}

.ouw_topheading {
	margin-top: 0em;
	border-top: none;
	background-color: rgba(0,0,0,0);
}

#ouwiki_addnew input[type='submit'], #ouwiki_belowtabs input[type='submit'] {
	color: #5e4d66 !important;
	background-color: #f0eee4;
}

#page-mod-ouwiki-view .ouw_intro {
	margin-top: 0px;
}

.path-mod-ouwiki .ouw_subwiki .singleselect div > label {
	display: inline;
	background: none;
	padding: 0;
	border: none;
	
}
.loginbox .loginpanel h2, .loginbox .loginpanel .subcontent {
	max-width: inherit;
}
.loginbox .subcontent.loginsub {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}

.loginbox .subcontent.guestsub {
	margin: 5px auto;
	max-width: 500px;
}
.dir-rtl .loginbox .loginpanel .desc {
	text-align: right;
}
@media (min-width: 980px) {
	#page-mod-forum-discuss a[id]:empty::before, #page-mod-forum-discuss a[name]:empty::before {
	   content: none;
	}
}

#page-mod-lightboxgallery-view div[role="main"]:before {
	content: '';
    width: 100%;
    height: 10px;
    background: url([[pix:theme|bg/learning-spaces]]);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: #b98385 1px solid;
    display: block;
}

#page-mod-lightboxgallery-view div[role="main"] {
    background-color: #f8f6f6;
    border: #b98385 1px solid;
}

#page-mod-lightboxgallery-view div[role="main"] > h2 {
    margin-top: 0;
    margin-right: 10px;
    margin-left: 10px;
}

#page-mod-lightboxgallery-view .lightbox-gallery-image-frame {
    border: #ba8486 1px solid !important;
}





#page-mod-lightboxgallery-view .lightbox-gallery.clearfix > .box.clearfix {
    display: none;
}

#page-mod-lightboxgallery-view .breadcrumb-button input[type="submit"], #page-mod-lightboxgallery-imageedit .breadcrumb-button .singlebutton div input[type="submit"] {
    border: #b98385 1px solid;
    border-radius: 0px;
    background-color: #ecc7c8;
    color: #6c6565 !important;
    font-size: 1.1em;
    font-weight: 700;
    padding: 5px 10px;
}

#page-mod-lightboxgallery-view div[role="main"] > .box.center > a, #page-mod-lightboxgallery-imageedit div[role="main"] input[type="submit"]  {
    background-image: none;
    background-color: #fedddd !important;
    color: #6c6565 !important;
    border: 5px solid transparent;
    box-shadow: inset 0 0 0 1px #a46365, 0 0 0 1px #c39697;
    border-radius: 0px 0px 0px 0px;
    text-shadow: none;
    padding: 6px 18px;
    border-image: url([[pix:theme|bg/blogtitlebg]]);
    border-image-slice: 1;
    font-weight: 700;
    font-size: 1.1em;
    display: inline-block;
    margin: 15px 15px 15px 15px;
}

#page-mod-lightboxgallery-imageedit div[role="main"] .generaltable {
    border: #bc8a8c 1px solid;
}

#page-mod-lightboxgallery-imageedit div[role="main"] .generaltable > tbody > tr >td {
    background-color: #fdf0f1;
    border-top: #bc8a8c 1px solid;
}

#page-mod-lightboxgallery-imageedit div[role="main"] ul.nav-tabs li > a {
    background-color: #ab6f72;
    border-radius: 0px;
    color: #e9d8d8;
    font-size: 1.2em;
    border-bottom: #e7c2c3 8px solid;
    padding: 5px 10px;
	cursor: pointer;
}

#page-mod-lightboxgallery-imageedit div[role="main"] ul.nav-tabs li.active {
    margin-right: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
    margin-top: -1px;
}

#page-mod-lightboxgallery-imageedit div[role="main"] ul.nav-tabs li.active > a {
    background-color: #fdf0f1;
    border-bottom-color: #ab6f72;
    color: #6e666e;
    border-top: #ab6f72 1px solid;
    border-left: #ab6f72 1px solid;
    border-right: #ab6f72 1px solid;
	font-weight: 700;
}

#page-mod-lightboxgallery-imageedit .nav-tabs {
    height: auto;
    padding-top: 1px;
}

#page-mod-lightboxgallery-imageedit .nav-tabs li {
	margin: 0 0.2em;
}
